{{ADMIN_DOMAIN}} {
	encode gzip zstd
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}

	handle /api/* {
		reverse_proxy 127.0.0.1:{{API_PORT}}
	}

	handle /healthz {
		reverse_proxy 127.0.0.1:{{API_PORT}}
	}

	handle {
		reverse_proxy 127.0.0.1:{{FRONTEND_PORT}}
	}
}

{{LANDING_DOMAIN}} {
	encode gzip zstd
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}
	reverse_proxy 127.0.0.1:{{LANDING_PORT}}
}

{{POS_DOMAIN}} {
	encode gzip zstd
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "SAMEORIGIN"
	}
	reverse_proxy 127.0.0.1:{{POS_CALENDAR_PORT}}
}
